@import 'var';

.border {
  position: fixed;
  top: 100px;
  left: 500px;
  width: 875px;
  height: 850px;
  // background-image: $borderblock;
  // image-rendering: pixelated;
}

.bonus {
  margin-top: 20px;
  width: 750px;
  margin: 0 auto;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  &--item {
    &--1 {
      margin-right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: $bonusblock;
      background-size: 300%;
      background-position: right;
    }
    &--2 {
      margin-right: 10px;
      margin-left: 100px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: $bonusblock;
      background-size: 300%;
      background-position: center;
    }
  }
}

.map {
  position: relative;
  width: 750px;
  height: 750px;
  margin: 20px auto 0 auto;
  box-shadow: 0 0 5px 3px #656565;

  &--block {
    float: left;
    width: 50px;
    height: 50px;
    background: $groundblock;
    background-size: contain;
    image-rendering: pixelated;
  }

  &--border {
    background: $borderblock;
    background-size: contain;
  }

  &--unbreak {
    background: $unbreakblock;
    background-size: contain;
  }

  &--break {
    background: $breakblock !important;
    background-size: contain !important;
    background-position: center !important;
  }

  &--spawn {
    background: $spawnblock;
    background-size: contain;
  }

  &--bonus-1 {
    background: $bonusblock;
    background-size: 300%;
    background-position: center;
  }

  &--bonus-2 {
    background: $bonusblock;
    background-size: 300%;
    background-position: right;
  }

  &--perso {
    position: absolute;
    width: 50px;
    height: 50px;
    background: $perso1;
    image-rendering: pixelated;
  }

  &--perso_down {
    background-position: 0 0;
  }

  &--perso_up {
    background-position: 0 17%;
  }

  &--perso_left {
    background-position: 0 8%;
  }

  &--perso_right {
    background-position: 0 25%;
  }

  &--perso_die {
    background-position: 0 75%;
  }

  &--bomb {
    position: absolute;
    width: 50px;
    height: 50px;
    background: $bomb;
    background-size: contain;
    image-rendering: pixelated;
  }

  &--explosion {
    position: absolute;
    width: 50px;
    height: 50px;
    background: $explosion;
    background-size: contain;
    image-rendering: pixelated;
  }

  &--bomb-range {
    position: absolute;
    width: 50px;
    height: 50px;
    // background: red;
    opacity: 0.5;

    &--active {
      background: red;
    }
  }
}
