$unbreakblock: url('../img/ground/unbreak.png');
$borderblock: url('../img/ground/border.png');
$groundblock: url('../img/ground/ground.png');
$breakblock: url('../img/ground/break.png');
$spawnblock: url('../img/tile_spawn.png');
$bonusblock: url('../img/bonus.png');

$perso1: url('../img/bombersprite.png');
